.list-title {
    display: block;
    text-align: center;
    margin: 1em;
    padding-top: 2.5em;

}
.list-container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}