.list-title {
    display: block;
    text-align: center;
    margin: 1em;

}
.list-container {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262626;
    color: white;
    padding-inline: 2em;
    border-radius: 30px;

}

.title-main {
    margin-top:  2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
