li {
    float: left;
    display: inline;
    margin: 5px;
}

a {
    display: block;
    padding: 10px;
    background-color: rgb(63, 145, 231);
    text-decoration: none;
    color: black;
}

.nav-search-button {
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #004784;
    align-items: center;
    display: flex;
    padding-inline: 10px;
}

.navbar {
    width: 80vw;
    border-radius: 5px;

}

.nav-container {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile {
    float: right;
    margin-left: auto;
}

/* Dropdown Button */
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

/* Add a down arrow */
.dropdown .dropbtn:after {
    content: "\25BC";
    font-size: 12px;
    color: black;
    margin-left: 5px;
}

.logo-link{
    text-decoration: none;
    background-color: transparent;
}

.nav-link:hover {
    background-color: white;
}

.nav-link {
    border-radius: 5px;
}