.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1600px;
  height: 100%;
}

.carousel-items {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-button:hover {
  color: rgba(0, 0, 0, 0.5);
}

.carousel-button_next {
  right: 0;
  width: 10%;
}
.carousel-button {
  width: 10%;
  margin:0;
  margin-inline: 5px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card > p {
  color: black;
  padding: 0.5em;
  margin: 0;
}

